---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";

interface Slide {
  src: string;
  alt: string;
}

interface Props {
  title: string;
  slides: Slide[];
  className?: string;
}

const { title, slides, className = "" } = Astro.props;
---

<section class:list={[className]}>
  <h1 class="mb-5 mt-[100px] text-center text-[30px] font-bold md:text-[50px]">{title}</h1>
  <div class="swiper js-swiper h-[300px] w-[350px] md:h-[600px] md:w-[600px]">
    <div class="swiper-wrapper">
      {
        slides.map((slide) => (
          <div class="swiper-slide">
            <img
              class="h-[270px] w-[370px] rounded-[20px] object-scale-down md:h-[600px] md:w-[600px] md:object-cover"
              src={slide.src}
              alt={slide.alt}
              loading="lazy"
            />
          </div>
        ))
      }
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Autoplay, Navigation, Pagination } from "swiper/modules";

  document.querySelectorAll<HTMLElement>(".js-swiper").forEach((element) => {
    new Swiper(element, {
      modules: [Autoplay, Navigation, Pagination],
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
      },
      loop: true,
      pagination: {
        el: element.querySelector<HTMLElement>(".swiper-pagination"),
        clickable: true,
      },
      navigation: {
        nextEl: element.querySelector<HTMLElement>(".swiper-button-next"),
        prevEl: element.querySelector<HTMLElement>(".swiper-button-prev"),
      },
    });
  });
</script>
